doctype html
html
    head
        meta(charset='utf-8')
    body
        form(action='/needs/create' method='post')
            p 작성자 uid:
                input(type='text' name='author_id')
            p 작성자 :
                input(type='text' name='author_name')
            p 내용 :
                textarea(name='content')
            p 태그 :
                input(type='text' name='tag')
            p 게시기간 :
                input(type='text' name='starttime')
            p 종료시점 :
                input(type='text' name='endtime')
            p 카테고리 :
                input(type='text' name='category')
            a(href='/needs_upload' onclick='window.open(this.href,",","width=400,height=400"); return false;') 이미지 업로드

            p 썸네일 :
                input(type='file' name='thumbnail_url')
            p 상태 :
                input(type='text' name='state')
            p 타입 :
                input(type='text' name='type')
            p 포인트 :
                input(type='text' name='bet_point')
            p Me 갯수 :
                input(type='text' name='count_of_me')
            p
                input(type='submit')